<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="utf-8">
  <title>社交軟體增強</title>
</head>

<body>
{% csrf_token %}
  穿戴式設備
  <br> 線下

</body>

<script src="/static/js/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/ajax-need.js" type="text/javascript"></script>
<!-- <script src="/static/js/index.js" type="text/javascript"></script> -->

<script type="text/javascript">
window.setInterval("setLocation()", 2000);
window.setInterval("setSteps()", 2500);

window.setInterval("getLocation()", 3000);
window.setInterval("getSteps()", 3000);

// html5 get location-GPS
// var x = document.getElementById("demo");
function  setLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    alert("该浏览器不支持获取地理位置。");
  }
}

// html5 get location-GPS
function showPosition(position) {
  var identity = $('input[name="identity"]:checked').val();

  $.ajax({
      url: "/gps/sendGPS/",
      type: 'POST',
      dataType: 'json',
      data: {
        "id": "1",
        "nickname": "A1",
        "longitude": position.coords.longitude,
        "latitude": position.coords.latitude
      }
    })
    .done(function(resp) {
      // console.log(resp);
      if (resp.status) {
        // console.log("setGPS: "+ resp);
      } else {
        console.log("error: " + resp.message);
      }
    })
    .fail(function(resp) {
      console.log("fail: " + resp.message);
    });
}

// get steps number
function setSteps() {
  $.ajax({
      url: "/stepFrequency/sendStepFrequency/",
      type: 'POST',
      dataType: 'json',
      data: {
        "id": "1",
        "devId": "5"
      }
    })
    .done(function(resp) {
      // console.log(resp);
      if (resp.status) {
        // console.log("setSteps: "+ resp);
      } else {
        console.log("error: " + resp.message);
      }
    })
    .fail(function(resp) {
      console.log("fail: " + resp.message);
    });
}






// html5 get location-GPS
function getLocation() {
  $.ajax({
      url: "/gps/getPeople/",
      type: 'POST',
      dataType: 'json',
      data: {
        "id": "1",
        "nickname": "A1",
      }
    })
    .done(function(resp) {
      // console.log(resp);
      if (resp.status) {
        console.log("getGPS: "+ resp.message.longitude + ", " + + resp.message.latitude);
      } else {
        console.log("error: " + resp.message);
      }
    })
    .fail(function(resp) {
      console.log("fail: " + resp.message);
    });
}

// get steps number
function getSteps() {
  $.ajax({
      url: "/stepFrequency/getStepFrequency/",
      type: 'POST',
      dataType: 'json',
      data: {
        "id": "1",
        "devId": "5"
      }
    })
    .done(function(resp) {
      // console.log(resp);
      if (resp.status) {
        console.log("getSteps: "+ resp.message);
      } else {
        console.log("error: " + resp.message);
      }
    })
    .fail(function(resp) {
      console.log("fail: " + resp.message);
    });
}

</script>
</html>
