<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="utf-8">
  <title>社交軟體增強</title>
</head>

<body>

  穿戴式設備
  <br> 線下

</body>

<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/static/js/ajax-need.js" type="text/javascript"></script>

<script>
  window.setInterval("getLocation()", 2000);
  window.setInterval("getSteps()", 1500);

  // var getLocationVal =  window.setInterval("getLocation()", 1500 );
  // var getStepsVal =    window.setInterval("getSteps()", 1500 );
  // clearInterval(getLocationVal);
  // clearInterval(getStepsVal);

  // html5 get location-GPS
  var x = document.getElementById("demo");

  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      // x.innerHTML = "该浏览器不支持获取地理位置。";
      alert("该浏览器不支持获取地理位置。");
    }
  }

  function showPosition(position) {
    var identity = $('input[name="identity"]:checked').val();
    var urlVal = "/home/computeGPS/";

    $.ajax({
        url: "/home/computeGPS/",
        type: 'POST',
        dataType: 'json',
        data: {
          "id": "4",
          "nickname": "A1",
          "longitude": position.coords.longitude,
          "latitude": position.coords.latitude
        }
      })
      .done(function(resp) {
        // console.log(resp);
        if (resp.status) {
          console.log(resp);
        } else {
          alert(resp.message);
        }
      })
      .fail(function(resp) {
        console.log(resp);
      });
  }


  function getSteps() {
    $.ajax({
        url: "/home/getStepFrenquency/",
        type: 'POST',
        dataType: 'json',
        data: {
          "id": "5"
        } //這裏和 indexA 相同
      })
      .done(function(resp) {
        // console.log(resp);
        if (resp.status) {
          console.log(resp);
        } else {
          alert(resp.message);
        }
      })
      .fail(function(resp) {
        console.log(resp);
      });
  }
</script>


</html>
